@import url('./components/jumbotron.css');
@import url('./components/img-porfolio-sec.css');
@import url('./components/star_row.css');
:root{
    --blue-300:   #2c3e50;
    --white: white;
    --green-water: #1abc9c;
}
#dc-bg-col,
.dc-bg-final{
    background-color: var(--blue-300);
}
.dc-co-white{
    color: var(--white);
}
.dc-bg-green{
    background-color: var(--green-water);
}
.fa-star{
    color: var(--white);
    margin-left: 2.125rem;
    margin-right: 2.125rem;
}