
.dc-space h4, i, p{
    color: var(--white);
}
.dc-space p{
    font-size: 13px;
}
.dc-space h4{
    font-size: 16px;
}
.dc-circle i{
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}
.dc-font-s-cr{
    font-size: 10px;
}